$font-size: 1.5rem;

$pop: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.input-text
{
    display: grid;
    position: relative;

    font-size: $font-size;

    // margin-bottom: rem;

    grid-template-columns: fit-content(40%) auto;
    gap: 1.5rem;
    height: fit-content;

    &__input
    {
        background-color: transparent;
        border: 0;
        outline: 0;

        font-size: 1.25rem;

        position: relative;
        z-index: 2;
        width: 100%;

        padding-bottom: .25rem;
        border-bottom: 2px dotted darkgray;

        text-overflow: ellipsis;
    }


}