$padding-sides: 10rem;
$padding-vertical: 2.5rem;
$gap:.5rem;

$vw-mobile: 480px;
$vw-tablet: 768px;



.home-section
{
    width: 100%;
    min-height: fit-content;

    display: flex;
    flex-direction: column;
    gap: $gap;

    padding: 2rem;
    
    &__title
    {
        text-align: center;
        font-size: 4rem;
        letter-spacing: 1px;

        font-weight: 500;
        text-transform: capitalize;

        font-family: 'Sugar Snow', 'Archivo Narrow', sans-serif;
        letter-spacing: 3px;
        margin-top: 1.5rem;
        padding: .75rem 0;
    }
}