$z-index: 999;

.backdrop
{
    width: 100%;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index;

    padding: 5rem 1rem;
    padding-bottom: 2rem;

    &--open
    {
        background-color: rgba(0, 0, 0, 0.65);

    }

    display: grid;
    place-items: center;
}