$vw-mobile: 480px;
$vw-tablet: 768px;
$vw-laptops: 1024px;
$vw-desktop: 1200px;

.waterfall-rulelist
{

    background-color: #DDD;

    // padding: 1rem;

    width: 20vw;

    display: flex;
    flex-direction: column;

    z-index: 20;

    border-radius: .25rem;

    transition: width 150ms ease-in-out;

    &__body
    {
        width: 100%;

        display: flex;
        flex-direction: column;

        padding: 1rem;

        gap: .75rem;
    }

    &__title
    {
        // text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        text-transform: uppercase;

        border-bottom: 2px solid gray;
    }

    &__subtitle
    {
        font-size: 1.25rem;
        font-weight: 400;
    }

    &__list
    {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        margin: 0;
        padding: 0;
        list-style: none;

        overflow-y: scroll;

        max-height: 20rem;
    }

    &__item
    {
        display: flex;
        flex-direction: column;

        font-size: 1.1rem;

        gap: .25rem;

        &__user
        {
            display: flex;
            align-items: center;
            gap: .5rem;
            padding-bottom: .5rem;
            border-bottom: 1px solid gray;
        }

        &__avatar
        {
            width: 1.75rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
        }

        &__name
        {
            font-size: 1rem;
        }

    }

    &__footer
    {
        display: block;
        width: 100%;
        height: 5px;
        // background: linear-gradient(90deg, rgba(201, 110, 18, 1) 5%, rgba(223, 141, 3, 1) 21%, rgba(236, 157, 0, 1) 39%, rgba(246, 193, 1, 1) 59%, rgba(250, 233, 111, 1) 79%, rgba(255, 248, 151, 1) 100%);
        background-color: #faa307;
        margin-top: auto;

        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    @media (max-width: $vw-tablet) {
        width: 75vw;
    }
    @media (min-width: $vw-tablet) {
        width: 50vw;
    }
    @media (min-width: $vw-laptops) {
        width: 35vw;
    }

    @media (min-width: $vw-desktop) {
        width: 25vw;
    }
}