.pirate-game
{
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8vw;

    &__container
    {
        width: fit-content;
        max-width: 40%;
    }

}

.pirate-footer
{
    height: 30%;

    padding: 0 8vw;
    padding-top: 1.5rem;
}