.waterfall-datemodal
{
    &__title
    {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: .75rem;
    }

    &__subtitle
    {
        font-weight: 400;
        width: fit-content;
        letter-spacing: 2px;

        // border-bottom: 2px solid white;
    }

    &__error
    {
        font-weight: 400;
        text-align: center;
        font-size: 1.25rem;
        letter-spacing: 1.5px;
    }

    &__body
    {
        padding: 0 1rem;
    }

    &__current
    {
        display: flex;
        flex-direction: column;
        gap: 1.75rem;        
    }

    &__current__dates
    {
        display: grid;
        gap: .5rem;


        [data-columns="1"] &
        {
            grid-template-columns: repeat(1, 1fr);
        }
        [data-columns="2"] &
        {
            grid-template-columns: repeat(2, 1fr);
        }
        [data-columns="3"] &
        {
            grid-template-columns: repeat(3, 1fr);
        }
        [data-columns="4"] &
        {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__players
    {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__players__list
    {
        display: grid;
        gap: .5rem;
        row-gap: 1rem;

        [data-columns="1"] &
        {
            grid-template-columns: repeat(1, 1fr);
        }
        [data-columns="2"] &
        {
            grid-template-columns: repeat(2, 1fr);
        }
        [data-columns="3"] &
        {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__seperator
    {
        margin-top: 1.25rem;
    }
}