$pop: cubic-bezier(0.175, 0.885, 0.32, 1.275);


.casino-players
{
    // background-color: red;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;

    list-style: none;

    perspective: 1500px;

    pointer-events: none;

}

.casino-player
{
    width: 10rem;
    aspect-ratio: 1/1;

    position: absolute;

    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    // transform-style: preserve-3d;

    z-index: 100;

    pointer-events: all;

    &--next
    {
        .casino-player__avatar
        {
            animation-name: nextTurn;
            animation-duration: 500ms;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    &__avatar
    {
        font-size: 0;
        width: fit-content;
        height: fit-content;

        box-shadow: 0 0 2rem .75rem rgba(22, 22, 22, 0.2);

        border-radius: 50%;

        scale: 1;
        position: relative;

        span
        {
            border-radius: 50%;
            // overflow: hidden;

            position: relative;

            z-index: 10;

            width: 100%;
            height: 100%;
        }


    }


    &__username
    {
        color: white;
        font-size: 1.75rem;
    }

    &__admin-btn
    {
        font-size: 0;

        aspect-ratio: 1/1;
        border: 0;
        outline: 0;
        padding: .5rem;

        border-radius: 50%;
        position: absolute;

        right: -0.5rem;
        bottom: -0.5rem;
        z-index: 10;



        // box-shadow: 0px 0px 5px 2px rgba(42, 42, 42, 1);

        transition: scale 150ms $pop;

        cursor: pointer;

        svg
        {
            font-size: 1.5rem;
            color: white;
        }

        &--admin
        {
            background-color: #ff8800;
            background: linear-gradient(0deg, rgba(209, 87, 8, 1) 0%, rgba(255, 136, 0, 1) 100%);


        }

        &--kick
        {
            transform: translateX(calc(100% + 0.25rem)) translateY(0.3rem);
            background: rgb(172, 11, 31);
            background: linear-gradient(0deg, rgba(172, 11, 31, 1) 0%, rgba(224, 30, 55, 1) 100%);

            svg
            {
                font-size: 1rem;
            }
        }

        &--promote
        {
            transform: translateY(calc(100% + 0.25rem)) translateX(0.3rem);

            svg
            {
                font-size: 1rem;
            }

            background: linear-gradient(90deg, rgba(114, 81, 181, 1) 0%, rgba(160, 108, 213, 1) 100%);
            ;
        }

        &:hover,
        &:focus
        {
            scale: 1.05;
        }

        &:active
        {
            scale: 0.95;
        }
    }

    &__new
    {
        color: white;
        display: block;
        aspect-ratio: 1/1;
        text-align: center;
        font-size: 0;
        padding: 1rem;

        border-radius: 50%;

        border: 3px solid white;

        background: transparent;
        outline: 0;

        transition: scale 150ms ease-in-out, opacity 150ms ease-in-out;

        opacity: .5;
        cursor: pointer;

        svg
        {
            font-size: 2rem;
        }

        &:hover,
        &:focus
        {
            scale: 1.05;
            opacity: 1;
        }

        &:active
        {
            scale: 0.8;
            opacity: 1;

        }

    }

    &[data-spot="1"]
    {
        top: 10%;
        left: 8%;
        color: red;
        // transform: translate(100%);
    }

    &[data-spot="8"]
    {
        top: 10%;
        right: 8%;

    }

    &[data-spot="2"]
    {
        left: 5%;
        top: 40%;
        color: red;

    }


    &[data-spot="7"]
    {
        right: 5%;
        top: 20rem;
        color: red;


    }


    &[data-spot="3"]
    {
        left: 13%;
        bottom: 15%;
        color: red;

    }

    &[data-spot="6"]
    {

        right: 13%;
        bottom: 15%;
        color: red;

    }

    &[data-spot="4"]
    {

        left: 35%;
        bottom: 1%;
        color: rgb(194, 53, 53);

    }

    &[data-spot="5"]
    {
        right: 35%;
        bottom: 1%;
        color: red;

    }




}

@keyframes nextTurn
{
    0%
    {
        scale: 0.95;
    }

    100%
    {
        scale: 1.05;

    }
}