.casino-players
{
    // background-color: red;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;

    list-style: none;

    perspective: 1500px;

    pointer-events: none;

}

.casino-player
{
    width: 10rem;
    aspect-ratio: 1/1;

    position: absolute;

    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    transform-style: preserve-3d;

    z-index: 100;

    pointer-events: all;

    &--next
    {
        .casino-player__avatar
        {
            animation-name: nextTurn;
            animation-duration: 500ms;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    &__avatar
    {
        font-size: 0;
        width: fit-content;
        height: fit-content;

        box-shadow: 0 0 2rem 0.1rem rgba(0,0,0,0.5);

        border-radius: 50%;
        span
        {
            border-radius: 50%;
            // overflow: hidden;

            position: relative;

            z-index: 10;

        }


    }

    &__username
    {
        color: white;
        font-size: 1.75rem;
    }

    &__new
    {
        color: white;
        display: block;
        aspect-ratio: 1/1;
        text-align: center;
        font-size: 0;
        padding: 1rem;

        border-radius: 50%;

        border: 3px solid white;

        background: transparent;
        outline: 0;

        transition: scale 150ms ease-in-out;

        cursor: pointer;
        svg
        {
            font-size: 2.5rem;
        }

        &:hover,&:focus
        {
            scale: 1.05;
        }

        &:active
        {
            scale: 0.8;
        }

    }

    &[data-spot="1"]
    {
        top: 1rem;
        left: -8rem;
        color: red;
    }

    &[data-spot="2"]
    {
        left: -6.75rem;
        top: 20rem;
        color: red;

    }

    &[data-spot="3"]
    {
        left: 4rem;
        top: 37rem;
        color: red;

    }

    &[data-spot="4"]
    {

        left: 25rem;
        top: 45.5rem;
        color: rgb(194, 53, 53);

    }

    &[data-spot="5"]
    {
        right: 25rem;
        top: 45.5rem;
        color: red;

    }

    &[data-spot="6"]
    {

        right: 4rem;
        top: 37rem;
        color: red;

    }

    &[data-spot="7"]
    {
        right: -6.75rem;
        top: 20rem;
        color: red;


    }

    &[data-spot="8"]
    {
        top: 1rem;
        right: -8rem;
        color: red;

    }
}

@keyframes nextTurn {
    0% {
        scale: 0.95;
    }
    100% {
        scale: 1.05;

    }
}