.admodal
{
    display: flex;
    flex-direction: column;
    padding: 1rem;

    gap: 2rem;

    &__support
    {
        display: flex;
        flex-direction: column;

        gap: .5rem;
    }

    &__title
    {
        font-size: 3rem;
        letter-spacing: 2px;
        font-weight: 500;
        // text-align: center;
    }

    &__text
    {
        font-size: 1.2rem;
        line-height: 1.5;
        // text-align: center;
    }

    &__advert
    {
        display: flex;
        place-content: center;
        padding: 2rem;
        padding-bottom: 2.5rem;
        background: linear-gradient(180deg, #37045c, #430c6a 50%, #440a6e 60%, #2a0643);
        border-radius: .25rem;
        &>ins
        {
            width: 100%;
            height: 100%;
            background-color: rgb(225, 225, 225);
        }
    }
}