$pop: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$vw-mobile: 480px;
$vw-tablet: 768px;
$vw-laptops: 1024px;
$vw-desktop: 1200px;

.beer-btn
{
    display: flex;
    width: fit-content;

    align-items: center;
    justify-content: center;

    gap: 2.5rem;

    transition: transform 150ms ease-in-out;

    outline: 0;

    cursor: pointer;



    &__text
    {
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 2px;

        color: white;

        transition: letter-spacing 150ms ease-in-out, font-weight 150ms ease-in-out;

        position: relative;


        &::after
        {
            content: '';
            display: block;
            width: 0;
            height: 5px;
            background: linear-gradient(90deg, rgba(201, 110, 18, 1) 5%, rgba(223, 141, 3, 1) 21%, rgba(236, 157, 0, 1) 39%, rgba(246, 193, 1, 1) 59%, rgba(250, 233, 111, 1) 79%, rgba(255, 248, 151, 1) 100%);

            position: absolute;
            bottom: -2rem;

            transition: width 150ms $pop;
            border-radius: 500px;
        }
    }

    &__btn
    {
        font-size: 0;

        background-color: transparent;
        padding: 1rem;
        margin: 0;

        outline: none;

        border: 2px solid lightgray;
        border-radius: 50%;

        // margin-left: auto;

        color: white;

        cursor: pointer;

        svg
        {
            font-size: 3rem;
            color: white;

            transition: color 500ms $pop;
        }
    }

    &:hover,
    &:focus
    {
        transform: scale(1.12);

        .beer-btn__text
        {
            letter-spacing: 3px;
            font-weight: 600;

            &::after
            {
                width: 100%;

            }
        }

        .beer-btn__btn svg
        {
            color: #ffe97f;
        }

        @media (max-width: $vw-tablet)
        {
            transform: scale(1.05);
        }
    }



}